---
# main.scss
---

@import "minima";

// google web fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap');
$sansserif: 'Inter', sans-serif;
$monospace: 'Source Code Pro', monospace;

/* colors */
/* ================================================ */

/* catppuccin mocha */
$col-rosewater: #f5e0dc;
$col-flamingo: #f2cdcd;
$col-pink: #f5c2e7;
$col-mauve: #cba6f7;
$col-red: #f38ba8;
$col-maroon: #eba0ac;
$col-peach: #fab387;
$col-yellow: #f9e2af;
$col-green: #a6e3a1;
$col-teal: #94e2d5;
$col-sky: #89dceb;
$col-sapphire: #74c7ec;
$col-blue: #89b4fa;
$col-lavender: #b4befe;
$col-text: #cdd6f4;
$col-subtext-1: #bac2de;
$col-subtext-0: #a6adc8;
$col-overlay-2: #9399b2;
$col-overlay-1: #7f849c;
$col-overlay-0: #6c7086;
$col-surface-2: #585b70;
$col-surface-1: #45475a;
$col-surface-0: #313244;
$col-base: #1e1e2e;
$col-mantle: #181825;
$col-crust: #11111b;
$col-fg: #eff1f5;

/* styling */
/* ================================================ */

body{
    background-color: $col-mantle;
    color: $col-fg;
    font-family: $sansserif;
    font-size: 18px;
}

p{
    margin-bottom: 20px;
}

li{
    margin-bottom: 5px;
}

table{
    color: $col-fg;
    background-color: $col-mantle;
    margin-bottom: 5px;
    margin-top: 30px;
}

table tr:nth-child(2n){
    background-color: $col-mantle;
}

table th{
    background-color: $col-surface-0;
}

.site-header{
    border-top: none;
    border-bottom: none;
    min-height: 55px;
    background: $col-surface-0;
}

.site-title{
    font-size: 30px;
    &:visited{
        color:$col-fg;
    }
}

.page-heading{
    font-size: 40px;
    height: 40px;
    line-height: 1;
    margin-bottom: 30px;
}

.site-footer{
    border-top: none;
    padding: 8px;
    background: $col-surface-0;
}

.footer-col-wrapper{
    color: $col-fg;
}

.page-link{
    &:link{
        color: $col-green;
    }
    &:visited{
        color: $col-green;
    }
}

.site-nav{
    background: $col-surface-0;
    font-size: 19px;
}

.menu-icon path{
    fill: $col-fg;
}

figure {
    display: inline-block;
    vertical-align: top;
}

figcaption {
    text-align: center;
    font-size: 18px;
}

.svg-icon{
    vertical-align: text-bottom;
    padding-bottom: 2px;
}

.frame{
    float: right;
    padding-top: 55px;
    padding-left: 20px;
}

h1{
    color: $col-mauve;
    fontsize: 40px;
}

h2{
    color: $col-peach;
}

h3{
    color: $col-yellow;
}

h4{
    color: $col-yellow;
}

a{
    &:link{
        color: $col-sky;
    }
    &:visited{
        color: $col-sky;
    }
}

a.post-link{
    &:link{
        color: $col-pink;
    }
    &:visited{
        color: $col-pink;
    }
}

.post-meta{
    font-size: 16px;
}

pre{
    background-color: $col-mantle;
    border-color: $col-surface-2;
    border-width: 2px;
}

code{
    background-color: $col-mantle;
    border-color: $col-mantle;
    font-family: $monospace;
    font-size: 17px;
}

.box-rounded {
    border-radius: 3px;
    border: 2px solid $col-surface-2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}




/* Code Highlighting
================================================ */

 .highlight .hll { background-color: $col-yellow }
 .highlight  { background: $col-mantle; color: $col-fg; }
 .highlight .c { color: $col-overlay-2 } /* Comment */
 .highlight .err { color: $col-red; } /* Error */
 .highlight .g { color: $col-fg } /* Generic */
 .highlight .k { color: $col-mauve; font-weight: bold } /* Keyword */
 .highlight .l { color: $col-peach } /* Literal */
 .highlight .n { color: $col-fg; font-weight: normal } /* Name */
 .highlight .o { color: $col-pink; font-weight: normal } /* Operator */
 .highlight .x { color: $col-fg } /* Other */
 .highlight .p { color: $col-overlay-2 } /* Punctuation */
 .highlight .ch { color: $col-overlay-2 } /* Comment.Hashbang */
 .highlight .cm { color: $col-overlay-2 } /* Comment.Multiline */
 .highlight .cp { color: $col-overlay-2 } /* Comment.Preproc */
 .highlight .cpf { color: $col-overlay-2 } /* Comment.PreprocFile */
 .highlight .c1 { color: $col-overlay-2 } /* Comment.Single */
 .highlight .cs { color: $col-overlay-2 } /* Comment.Special */
 .highlight .gd { color: $col-red } /* Generic.Deleted */
 .highlight .ge { color: $col-fg } /* Generic.Emph */
 .highlight .gr { color: $col-red } /* Generic.Error */
 .highlight .gh { color: $col-fg; font-weight: bold } /* Generic.Heading */
 .highlight .gi { color: $col-fg; font-weight: bold } /* Generic.Inserted */
 .highlight .go { color: $col-surface-0 } /* Generic.Output */
 .highlight .gp { color: $col-fg } /* Generic.Prompt */
 .highlight .gs { color: $col-fg } /* Generic.Strong */
 .highlight .gu { color: $col-fg; font-weight: bold } /* Generic.Subheading */
 .highlight .gt { color: $col-fg } /* Generic.Traceback */
 .highlight .kc { color: $col-mauve } /* Keyword.Constant */
 .highlight .kd { color: $col-mauve} /* Keyword.Declaration */
 .highlight .kn { color: $col-mauve } /* Keyword.Namespace */
 .highlight .kp { color: $col-mauve } /* Keyword.Pseudo */
 .highlight .kr { color: $col-mauve } /* Keyword.Reserved */
 .highlight .kt { color: $col-yellow; font-weight: normal } /* Keyword.Type */
 .highlight .ld { color: $col-fg } /* Literal.Date */
 .highlight .m { color: $col-peach } /* Literal.Number */
 .highlight .s { color: $col-green } /* Literal.String */
 .highlight .na { color: $col-yellow } /* Name.Attribute */
 .highlight .nb { color: $col-red} /* Name.Builtin */
 .highlight .nc { color: $col-yellow; font-weight: bold } /* Name.Class */
 .highlight .no { color: $col-fg } /* Name.Constant */
 .highlight .nd { color: $col-fg } /* Name.Decorator */
 .highlight .ni { color: $col-fg } /* Name.Entity */
 .highlight .ne { color: $col-fg } /* Name.Exception */
 .highlight .nf { color: $col-blue } /* Name.Function */
 .highlight .nl { color: $col-sky} /* Name.Label */
 .highlight .nn { color: $col-fg } /* Name.Namespace */
 .highlight .nx { color: $col-fg } /* Name.Other */
 .highlight .py { color: $col-fg } /* Name.Property */
 .highlight .nt { color: $col-pink } /* Name.Tag */
 .highlight .nv { color: $col-sky} /* Name.Variable */
 .highlight .ow { color: $col-pink } /* Operator.Word */
 .highlight .w { color: $col-fg } /* Text.Whitespace */
 .highlight .mb { color: $col-peach } /* Literal.Number.Bin */
 .highlight .mf { color: $col-peach } /* Literal.Number.Float */
 .highlight .mh { color: $col-peach } /* Literal.Number.Hex */
 .highlight .mi { color: $col-peach } /* Literal.Number.Integer */
 .highlight .mo { color: $col-peach } /* Literal.Number.Oct */
 .highlight .sa { color: $col-green } /* Literal.String.Affix */
 .highlight .sb { color: $col-green } /* Literal.String.Backtick */
 .highlight .sc { color: $col-green } /* Literal.String.Char */
 .highlight .dl { color: $col-green } /* Literal.String.Delimiter */
 .highlight .sd { color: $col-green } /* Literal.String.Doc */
 .highlight .s2 { color: $col-green } /* Literal.String.Double */
 .highlight .se { color: $col-green } /* Literal.String.Escape */
 .highlight .sh { color: $col-green } /* Literal.String.Heredoc */
 .highlight .si { color: $col-green } /* Literal.String.Interpol */
 .highlight .sx { color: $col-green } /* Literal.String.Other */
 .highlight .sr { color: $col-green } /* Literal.String.Regex */
 .highlight .s1 { color: $col-green } /* Literal.String.Single */
 .highlight .ss { color: $col-green } /* Literal.String.Symbol */
 .highlight .bp { color: $col-fg} /* Name.Builtin.Pseudo */
 .highlight .fm { color: $col-blue } /* Name.Function.Magic */
 .highlight .vc { color: $col-yellow} /* Name.Variable.Class */
 .highlight .vg { color: $col-yellow} /* Name.Variable.Global */
 .highlight .vi { color: $col-yellow} /* Name.Variable.Instance */
 .highlight .vm { color: $col-yellow} /* Name.Variable.Magic */
 .highlight .il { color: $col-peach } /* Literal.Number.Integer.Long */
