<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
        <div class="footer-col-wrapper">

            <!-- name and email on right -->
            <div class="footer-col-wrapper">
                <div style="padding-top:5px;padding-bottom:5px" align="right">
                    {{ site.author }} <br>
                    <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
                </div>
            </div>

        </div>
    </div>
</footer>
