<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
        <div class="footer-col-wrapper">

            <!-- logo on left -->
            <a href="/">
                <img
                    style="float: left; padding-top:1px; padding-left:20px;"
                    src="/assets/graphics/images_home/logo_small.png">
            </a>

            <!-- name and email on right -->
            <div class="footer-col-wrapper">
                <div style="padding-top:1px" align="right">
                    {{ site.author }} <br>
                    <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
                </div>
            </div>

        </div>
    </div>
</footer>
