---
# main.scss
---

@import "minima";

body{
    background-color: #282a36;
    color: #f8f8f2;
}

.site-header{
    border-top: 0px solid black;
    border-bottom: 0px solid black;
    min-height: 55px;
    background: #44475a;
}

.site-title{
    &,
    &:visited{
        color:white;
    }
}

.page-heading{
    font-size: 40px;
    height: 40px;
    line-height: 1;
    margin-bottom: 30px;
}

.site-footer{
    border-top: 1px solid #44475a;
}

li.p-name{
    color: #a8a8a2;
}

.social-links{
    float: right;
    margin-top: 15px;
}

.social-media-list{
    float: right;
    line-height: 0px;
}

.post-meta{
    color: #a8a8a2;
}

.post-title{
    font-size: 40px;
    height: 40px;
}

.page-link{
    &:link{
        color: #50fa7b;
    }
    &:visited{
        color: #50fa7b;
    }
}

.site-nav{
    background: #44475a;
}

.menu-icon path{
    fill: #f8f8f2;
}

.svg-icon{
    vertical-align: text-bottom;
    padding-bottom: 2px;
}

h1{
    color: #bd93f9;
}

h2{
    color: #ffb86c;
}

a{
    &:link{
        color: #8be9fd;
    }
    &:visited{
        color: #8be9fd;
    }
}
