---
layout: default
---

<div class="home">


    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}


    <!--
    <div class="row">

        <div class="column left">
            {{ content }}
        </div>

        <div class="column right">


            <img class="border"
                 style="width: 160px;"
                 src="/assets/graphics/general/profile_small_border.png">

            <img class="border"
                 src="/assets/graphics/general/princeton_logo_border.png">

            <img class="border"
                 src="/assets/graphics/general/oxford_logo_border.png">

            <img class="border"
                 src="/assets/graphics/general/cv_thumbnail_border.png">

        </div>

    </div>
    -->


</div>
